body { 
    min-width: 372px;
}

wrapeer{
    min-height: 100vh;
}
.row {
    align-items: stretch;
}

.card {
    flex: 1;
}
p.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 469px) {
    .element .mt-xs-3 {
      margin-top: 1rem;
    }
  }

.acessibilidade {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .btn-acessibilidade {
    background-color: #005bac;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .btn-acessibilidade img {
    width: 30px;
    height: 30px;
  }
  
  .btn-acessibilidade:hover {
    background-color: #003d73;
    transform: scale(1.1);
  }
  
